<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
  <link rel="stylesheet" href="../styles.css" />
</head>
<body>
  <div class="menudiv">
    <p>WECAMAPP</p>
    <a href="dashboard.html">Dashboard</a>
    <a href="newcam.html">New</a>
    <a href="../index.html">LogOut</a>
  </div>

  <div class="centercolumn">
    <h2>Cameras</h2>
    <div id="cameras" class="cameras-container"></div>
  </div>

  <script src="dashboard.js"></script>
</body>
</html>